<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <div class="container body-content">
        <h1 th:if="${jobs}" th:text="${jobs.size() + ' Result(s)'}"></h1>
        <div th:if="${jobs} and ${jobs.size()}" >
            <table th:each="job : ${jobs}">
                <tr th:each="jobField : ${job}">
                    <td th:text="${jobField.key}"></td>
                    <td th:text="${jobField.value}"></td>
                </tr>
                <br></br>
            </table>
        </div>
    </div>
</div>

</body>
</html>